{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Symptoms{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Symptom</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="symptomStartDate">Symptom Start Date</label>
    <input name="symptomStartDate" id="symptomStartDate" value="{{ request.form['symptomStartDate'] }}" required>
    <label for="body">Symptom Severity</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}
